/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */




 .upload_icon{
border: 1px solid #ccc;
background-color: transparent;
cursor: pointer;
padding: 5px;
 }