.header-top {
    background-color: var(--wp--preset--color--catskill-white);
}

.header-top__inner {
    display: flex;
    align-items: center;
    max-width: var(--wp--style--global--wide-size);
    margin: auto;
    padding: 0 var(--gu2);
    gap: 25px;
    @media (--vp-medium) {
        justify-content: flex-end;
    }
}

.topnav {
    display: none;
    @media (--vp-medium) {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        gap: var(--gu2);
        flex-flow: row;
    }
}

.topnav a {
    display: block;
    font-size: 18px;
    line-height: 28px;
    color: var(--col050);
    text-decoration: none;
    padding: 10px 0;
    @media (--vp-medium) {
        padding: 5px 0;
    }

    &:hover {
        color: var(--col090);
        text-decoration: none;
    }
}
