/*  CAREPOINT CUSTOM FONTS */
 
/* light */
@font-face {
    font-family: Carepoint;
    src: url(fonts/carepoint-InterTight-Light.ttf) format("truetype");
    font-display: swap;
    font-weight: 300;
    font-style: normal;
}
 
/* regular */
@font-face {
    font-family: Carepoint;
    src: url(fonts/carepoint-InterTight-Regular.ttf) format("truetype");
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}
 
/* medium */
@font-face {
    font-family: Carepoint;
    src: url(fonts/carepoint-InterTight-Medium.ttf) format("truetype");
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}
 
/* semibold */
@font-face {
    font-family: Carepoint-bold;
    src: url(fonts/carepoint-InterTight-SemiBold.ttf) format("truetype");
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}