@keyframes sweepIn {

    0% {
        opacity: 0;
        margin-left: -10px;
    }

    100% {
        opacity: 1;
        margin-left: 0;
    }
}
@keyframes sweepOut {

    0% {
        opacity: 1;
        margin-left: 0;
    }

    100% {
        opacity: 0;
        margin-left: -10px;
    }
}

.accordion {
    border-top: 1px solid #CBCFE6;
    border-bottom: 0;
}

.accordion details:last-child {
    border-bottom: 1px solid #CBCFE6;
}
.accordion:first-child {
    border-top: none;
}
.accordion:last-of-type {
    border-bottom: 1px solid #CBCFE6;
}

.accordion__content > *:first-child {
    margin-top: 0;
}

.accordion__content {
    /* padding: 0 0 var(--gu2); */
    animation: sweepOut 0.5s ease-in-out;
}

.accordion summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    list-style: none;
    outline: 0;
    /* padding: 0 15px; */
    padding-top: 18px;
    padding-bottom: 5px;
}

.accordion summary:hover {
    /* background-color: var(--wp--preset--color--dark-denim-blue); */
}

.accordion summary::-webkit-details-marker {
    display: none;
}

.accordion summary h4 {
    margin: 0;
}

.accordion summary .icon {
    width: 16px;
    height: 16px;
    transform: rotate(270deg);
    transition: transform 200ms ease-in-out;
    pointer-events: none;
    margin-top: -10px;
    padding: 5px;
    border-radius: 50%;
border: 1px solid #00000062;
    color: #999999;
}

.accordion[open] summary {
    color: var(--wp--preset--color--vanadyl-blue);
    padding-bottom: var(--gu1);
}

.accordion[open] summary .icon {
    transform: rotate(90deg);
    background-color: #869540;
    /* padding-left: 5px; */
    padding: 5px;
    border-radius: 50%;
    border: none;
    color: #fff;
}

.accordion[open] summary ~ .accordion__content {
    animation: sweepIn 0.5s ease-in-out;
    /* padding: 0 15px; */
    padding-top: 0px;
    padding-bottom: 5px;
}

.accordion .accordion__title {
    font-family: carepoint;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.04px;
    text-align: left;
    color: #15354D;
    
}
